<!-- <form>
  <br>
  <div class="input">
    <input type="text" placeholder="User Name" name="username" [(ngModel)]="username">
  </div>
  <br>
  <div class="input">
    <input type="password" placeholder="Password" name="password" [(ngModel)]="password">
  </div>
  <br>
  <div class="input">
    <input type="submit" value="login" (click)="userLogin()">
  </div>
  <br>
</form> -->















<form style="padding-top: 40px;">
<input type="text" placeholder="User Name" style="margin-top: 50px; margin-left: 40px; margin-bottom: 15px;"> <br>
<input type="password" placeholder="Password" style=" margin-left: 40px;"> <br> <br>
<a (click)="onClick()">
  <button style="width: 80px; height: 35px; background: green; margin-bottom: 20px; margin-left: 90px;"> SAVE </button>
</a>
</form>